<li id="idea-<%= idea.id %>" class="idea" data-id="<%= idea.id %>">
  <h4>
    <%= link_to idea.text, project_phase_idea_path(idea.phase.project, idea.phase, idea) %> -
    <small><%= link_to idea.user.display_name, user_path(idea.user) %></small>
    <span class="idea-votes pull-right">
      <small class="idea-vote-for"><%= idea.votes_for %></small>
      <small class="idea-vote-up">
        <%= link_to(vote_up_project_phase_idea_path(idea.phase.project, idea.phase, idea), :remote => true, :method => :post) do %>
          <i class="icon-thumbs-up"></i>
        <% end %>
      </small>
      <small class="idea-vote-down">
        <%= link_to(vote_down_project_phase_idea_path(idea.phase.project, idea.phase, idea), :remote => true, :method => :post) do %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      </small>
    </span>
    <span class="idea-icon icon-bug"></span>
  </h4>

  <ul data-idea="<%= idea.id %>" class="resources phase-resources timeline list-unstyled">
    <%= render partial: 'resources/resource', :collection => idea.resources, :as => :resource %>
  </ul>

  <ol data-idea="<%= idea.id %>" class="ideas comments timeline list-unstyled">
    <li class="timeline-axis"></li>
    <%= render partial: 'comments/comment', :collection => idea.comments, :as => :comment %>
    <% if user_signed_in? %>
      <li class="comment create">
        <%= form_for Comment.new,
                     :url => idea_comments_path(idea.id),
                     :remote => true do |f| %>
          <%= f.text_field :text, :placeholder => 'I think this is...', :class => 'form-control' %>
          <span class="comment-icon icon-comment"></span>
          <span class="comment-icon comment-create-icon icon-plus"></span>
        <% end %>
      </li>
    <% end %>
  </ol>
</li>
