<h4><%= link_to 'Projects', projects_path %> |
  <%= link_to @phase.project.name, project_path(@phase.project) %> |
  <%= link_to 'Phases', project_phases_path(@phase.project) %> |
  <%= link_to @phase.name, project_phase_path(@phase.project, @phase) %> |
  Proposals</h4>
<hr>
<div id="ideas" class="clear">
  <% @ideas.each do |idea| %>
       <div class="well well-sm idea">
         <%= link_to idea.text, project_phase_idea_path(idea.phase.project, idea.phase, idea) %>
       </div>
  <% end %>
</div>
<hr>
