<%= form_for record, :remote => true, :html => {id: 'comment-form', :class => 'form-inline'} do |f| %>
     <% if @comment.errors.any? %>
          <ul class="errors">
            <% @comment.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
            <% end %>
          </ul>
     <% end %>
     <%= f.text_area :text, {:placeholder => 'Comment', :rows => 1} %>
     <%= f.label :private do %>
          <%= f.check_box :private %>
          Private?
     <% end %>
     <%= f.submit 'Submit', :class => 'btn' %>
<% end %>