<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <p><strong>Whitespace Platform</strong> is an open platform for social good. We're a global community that draws upon the optimism, inspiration, ideas and opinions of everyone involved to solve problems together.</p>
      <p>Join our community to solve problems for social good.
        <%= link_to 'Sign up', 'users/signup', :class => 'btn-link' %>,
        <%= link_to 'Login', 'users/login', :class => 'btn-link' %> or
        <%= link_to 'Learn More', 'more-info', :class => 'btn-link' %>.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <%= link_to 'I Have A Project Idea', new_project_path, :class => 'btn btn-lg btn-info btn-block pull-right' %>
  </div>
  <div class="col-sm-4">
    <%= link_to 'I Want To Help', projects_path, :class => 'btn btn-lg btn-success btn-block' %>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <h3>Featured Projects</h3>
  <% @projects.each_with_index do |project, index| %>
       <div class="col-md-3">
         <%= render partial: 'projects/project', :object => project, :as => :project %>
       </div>
  <% end %>
  <%= link_to 'More Projects', projects_path, :class => 'btn-link' %>
</div>
