<%= form_for @project, :html => {id: 'project-form'}  do |f| %>
     <% if @project.errors.any? %>
     <ul class="errors">
       <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
       <% end %>
     </ul>
     <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>
