<%
   unless phase.ideas.empty?
     started = phase.started_at.to_i
     last = phase.ideas.sort_by{|i| i.created_at}.last.created_at.to_i
     duration = (last - started) > 60*60*24*30 ? last - started : 60*60*24*30
     get_left_for = lambda {|x| return (x.created_at.to_i.to_f - started.to_f) / duration.to_f * 100}
   end
%>
<div class="phase-container progress-bar
  <% if phase.completed? %>completed<% end %>
  <% if phase.started? %>started<% end %>">

  <a class="phase-name" title="<%= phase.name %>" href="#phase-<%= phase.id %>">
    <%= phase.name %>
  </a>

  <a class="tooth phase" title="<%= phase.description %>" href="#phase-<%= phase.id %>">
    <span class="sr-only"><%= phase.description %></span>
    <span class="tooth-icon icon-leaf"></span>
  </a>

  <% phase.ideas.each do |idea| %>
    <a class="tooth idea" title="<%= idea.text %>" href="#idea-<%= idea.id %>"
       style="left: <%= get_left_for.call idea %>%">
      <span class="sr-only"><%= idea.text %></span>
      <span class="tooth-icon icon-bug"></span>
    </a>

    <% idea.comments.each do |comment| %>
      <a class="tooth comment" title="<%= comment.text %>" href="#comment-<%= comment.id %>"
         style="left: <%= get_left_for.call comment %>%">
        <span class="sr-only"><%= comment.text %></span>
        <span class="tooth-icon icon-comment"></span>
      </a>
    <% end %>
  <% end %>

  <% phase.resources.each do |resource| %>
    <a class="tooth resource" title="<%= resource.name %>" href="#resource-<%= resource.id %>"
       style="left: <%= get_left_for.call resource %>%">
      <span class="sr-only"><%= resource.name %></span>
      <span class="tooth-icon icon-link"></span>
    </a>
  <% end %>
</div>
