<p id="notice"><%= notice %></p>
<h4><%= link_to 'Projects', projects_path %> | <%= @project.name %></h4>
<h5><%= @project.description %></h5>
<hr>
<h4><%= link_to 'Phases', project_phases_path(@project) %></h4>
<div class="phases clear">
  <%= render partial: 'phase', :collection => @project.phases, :as => :phase %>
</div>
<hr>
<h4><%= link_to 'Comments', project_comments_path(@project) %></h4>
<div class="comments clear">
  <%= render partial: 'comments/comment', :collection => @project.comments, :as => :comment %>
</div>
<% if can? :create, Comment %>
<div class="box">
  <%= render 'comment_form', :locals=>{:project => @project, :comment => @comment} %>
</div>
<% end %>
<hr>