<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<div class="page-header">
  <h1><%= @project.name %></h1>
  <p class="text-muted"><%= render partial: 'projects/location', :collection => @project.locations, :as => :location %></p>
</div>

<p class="lead"><%= @project.description %></p>

<ul class="list-inline">
<% @project.tags.each do |tag|%>
  <li><span class="tag label label-default"><%= tag.name %></span></li>
<% end %>
</ul>

<br/>
<div class="btn-group" style="width:100%; margin-top: 50px;">
  <%= render partial: 'projects/phase', :collection => @project.phases, :as => :phase %>
</div>
<br/>
<br/>

<div>
  <%= render partial: 'phases/phase', :collection => @project.phases, :as => :phase %>
</div>

<hr>

<div id="comments">
  <h4>Comments</h4>
  <%= render partial: 'comments/comment', :collection => @project.comments, :as => :comment %>
</div>
<% if can? :create, Comment %>
<form><%= render 'comments/form', :record => [@project, @comment], :comment => @comment %></form>
<% end %>
