<% unless resource.nil? %>
<li id="<%= "resource-#{resource.id}"%>" class="resource">
  <h5 class="resource-name">
    <%= link_to resource.name, resource.url, target: '_blank' unless resource.nil? %>
    <small><%= link_to resource.url, resource.url, target: '_blank' unless resource.nil? %></small>
    <span class="resource-icon icon-link"></span>
  </h5>
  <p>
    <span class="resource-type label label-default"><%= resource.type unless resource.nil? %></span>
    <small class="resource-description"><%= resource.description unless resource.nil? %></small>
  </p>

  <span class="resource-votes"><%#= "(#{resource.plusminus})" %></span>
  <span class="resource-vote-up"><%=
      if user_signed_in? && !current_user.voted_on?(resource) && resource.user != current_user
        link_to('+', vote_up_resource_path(resource), :remote => true, :method => :post)
      end %></span>
  <span class="resource-vote-down"><%=
      if user_signed_in? && !current_user.voted_on?(resource) && resource.user != current_user
        link_to('-', vote_down_resource_path(resource), :remote => true, :method => :post)
      end %></span>
</li>
<% end %>