<h4><%= link_to 'Projects', projects_path %> |
  <%= link_to @phase.project.name, project_path(@phase.project) %> |
  <%= link_to 'Phases', project_phases_path(@phase.project) %> |
  <%= link_to @phase.name, project_phase_path(@phase.project, @phase) %> |
  Proposals</h4>
<hr>
<div class="proposals clear">
  <% @proposals.each do |proposal| %>
       <div class="box rounded proposal">
         <%= link_to proposal.text, project_phase_proposal_path(proposal.phase.project, proposal.phase, proposal) %>
       </div>
  <% end %>
</div>
<hr>
