<div class="box phase">
  <div class="phase-name"><%= link_to phase.name, project_phase_path(phase.project, phase) %></div>
  <div class="phase-description"><%= phase.description %></div>
  <div class="phase-ideas"><%= render partial: 'ideas/idea', :collection => phase.ideas, :as => :idea %></div>
  <div class="phase-comments"><%= render partial: 'comments/comment', :collection => phase.comments, :as => :comment %></div>
  <div class="phase-resources"><%= render partial: 'resources/resource', :collection => phase.resources, :as => :resource %></div>
</div>