<h4><%= link_to 'Projects', projects_path %> |
  <%= link_to @phase.project.name, project_path(@phase.project) %> |
  <%= link_to 'Phases', project_phases_path(@phase.project) %> |
  <%= @phase.name %></h4>
<p id="notice"><%= notice %></p>
<h5><%= @phase.description %></h5>
<hr>
<% @phase.tags.each do |tag|%>
     <span class="tag"><%= tag.name %></span>
<% end %>
<hr>
<h4><%= link_to 'Proposals', project_phase_proposals_path(@phase.project, @phase) %></h4>
<div class="proposals clear">
  <%= render partial: 'proposal', :collection => @phase.proposals, :as => :proposal %>
</div>
<% if can? :create, Proposal %>
<div class="box">
     <%= render 'proposals/form', :locals=>{:phase => @phase, :proposal => @proposal} %>
</div>
<% end %>
<hr>
<h4>Comments</h4>
<div class="comments clear">
  <%= render partial: 'comments/comment', :collection => @phase.comments, :as => :comment %>
</div>
<% if can? :create, Comment %>
<div class="box">
  <%= render 'comment_form', :locals=>{:phase => @phase, :comment => @comment} %>
</div>
<% end %>
<hr>