<h4><%= link_to 'Projects', projects_path %> |
  <%= link_to @phase.project.name, project_path(@phase.project) %> |
  <%= link_to 'Phases', project_phases_path(@phase.project) %> |
  <%= @phase.name %></h4>
<p id="notice"><%= notice %></p>
<h5><%= @phase.description %></h5>
<hr>
<% @phase.tags.each do |tag|%>
     <span class="tag"><%= tag.name %></span>
<% end %>
<hr>
<h4><%= link_to 'Proposals', project_phase_proposals_path(@phase.project, @phase) %></h4>
<div id="proposals" class="clear">
  <%= render partial: 'proposal', :collection => @phase.proposals, :as => :proposal %>
</div>
<% if can? :create, Proposal %>
<div id="proposals" class="box">
     <%= render 'proposals/form', :locals=>{:phase => @phase, :proposal => @proposal} %>
</div>
<% end %>
<hr>
<h4>Resources</h4>
<div id="resources" class="clear">
  <%= render partial: 'resources/resource', :collection => @phase.resources, :as => :resource %>
</div>
<% if can? :create, Resource %>
     <div class="box">
       <%= render 'resources/form', :phase => @phase, :resource => @resource  %>
     </div>
<% end %>
<hr>
<h4>Comments</h4>
<div id="comments" class="clear">
  <%= render partial: 'comments/comment', :collection => @phase.comments, :as => :comment %>
</div>
<% if can? :create, Comment %>
<div class="box">
  <%= render 'comments/form', :record => [@phase.project, @phase, @comment], :comment => @comment  %>
</div>
<% end %>
<hr>